<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
      Escaneo Código
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content > -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escaneo Código</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
    <ion-fab *ngIf="seleccionar" style="z-index:3000" horizontal="start" vertical="center" slot="fixed">
      <ion-fab-button (click)="registramov('I')" color="success">
        <h2>I</h2>
        <!-- <ion-icon name="add"></ion-icon> -->
      </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="seleccionar"  style="z-index:3000" horizontal="end" vertical="center" slot="fixed">
      <ion-fab-button (click)="registramov('E')" color="primary">
        <h2>E</h2>
        <!-- <ion-icon name="add"></ion-icon> -->
      </ion-fab-button>
    </ion-fab>

    <!-- <strong>Marcador de la mutual</strong> -->
    <ion-button (click)="escanear()" [style]="btnmark" expand="full" color="secondary">Marcar</ion-button>
      <!-- <ion-button (click)="testmarcado()"   expand="full" color="secondary">Test</ion-button>  -->
     <ion-button (click)="closeScanner()" [style]="disbtn" expand="full" color="secondary">Cancelar</ion-button>
     
  </div>

<!-- </ion-content> -->

